html(
    lang="zh_cn"
    xmlns:ng="http://angular.org"
    ng-app="PB"
    ng-controller="BaseController"
)
head
    meta(name="renderer",content="webkit")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(
        name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    )
    title PandoraBox
    link(
        rel="stylesheet"
        type="text/css"
        href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css"
    )
    link(
        rel="stylesheet"
        type="text/css"
        href="style.css"
    )

body.container-fluid
    .row
        ol.breadcrumb
            li(ng-repeat="name in curQueue" ng-bind='name')
            li(ng-hide='curQueue.length') /

    ul.list-group
        li.list-group-item.prev(
            ng-if="curQueue.length!=0"
            ng-click="prev()"
        )
            strong ..
        li.list-group-item(
            ng-repeat="item in list track by $index"
            alt="{{item.name}}"
            title="{{item.name}}"
        )
            strong(
                ng-click="enter(item)"
                ng-bind-template="{{item.name}}/"
                ng-if="!!item.list"
            )
            a(
                ng-href="{{item.href}}"
                ng-bind="item.name"
                ng-if="!item.list"
            )
            span.badge(
                ng-bind="item.date"
                ng-if="!!item.date"
            )

    script(
        type="text/javascript"
        src="//cdn.bootcss.com/angular.js/1.5.11/angular.min.js"
    )
    script(
        type="text/javascript"
        src="script.js"
    )
